{% extends 'base.html.twig' %}

{% block body %}
    <div id="reactRoot"></div>
{% endblock %}

{% block javascripts %}
    <script src="http://build.skeleton.dev/apps/commons.js"></script>
    <script src="http://build.skeleton.dev/apps/core/bundle.js"></script>
{% endblock %}
